.rounded-circle{
	height: 50px;
	width: 50px;
	float: left;
}

.col-3, .col-9, .col-4, .col-12{
	text-align: center;
}

.col-3{
	text-align: right;
}

/*définition des couleurs de fond et de bordures des exercices 1 et 2*/
.r{
	background-color: #F8CECC;
	border: 1.3px solid #B85450;
}

.b {
	background-color: #DAE8FC;
	border: 1.3px solid #6C8EBF;
}

.g{
	background-color: #D5E8D4;
	border: 1.3px solid #82B366;
}

.y{
	background-color: #FFF2CC;
	border: 1.3px solid #D6B656;
}

.w{
	background-color: white;
	border: 1.3px solid black;
}

/*Exercice 3*/
nav {
     font-family: 'Baskervville', serif;
}

.col-8 {
    font-family: 'Baskervville', serif;
}

.col-6 li{
	list-style-type: none;
}

.col-6 li:nth-child(5n){
	list-style-type: decimal;
}

/*Exercice 4*/

.subtitle{
	font-size: 0.9em;
    color: #ABB1B3; 
}

label{
	font-weight: bold;
}